#page11 .clickAndReveal-container_02 {
  min-height: 600px;
  background: url(../images/ClickToReveal-2_BG.jpg) no-repeat 100% 100%;
  background-size: cover;
  height: 100%;
  min-height: 600px;
  background-position: center;
}

#page11 .clickAndReveal-container_02 .left_panel {
  width: 60%;
  height: 100%;
  float: right;
  display: block;
  opacity: 1;
  color: #fff;
  overflow: hidden;
  padding: 75px 45px 0px 45px;
}
#page11 .disabled-click {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 0px;
  border-radius: 27px;
  border: 1px solid #b1b3b6;
}
#page11 .click_to_reveal_typ2 #modalwrapper .modal-body-custom ol,ul,dl {
  margin-top: 20px;
  margin-bottom: 1rem;
  color: #fff;
  padding-left: 15px;
}
#page11 .clickAndReveal-container_02 .thumbnail-boxes-ctr {
  background: #ffffff;
  padding: 5px;
  width: 70%;
  margin-left: 135px;
}
#page11 .col-01 {
  border: 1px solid #ff0000;
  width: 30%;
}

#page11 .click-to-reval-heading {
  background: url(../images/ClickToReveal-1_HeadingPatch.png) no-repeat;
  height: 58px;
  width: 100%;
  margin-bottom: 10px;
}
#page11 .click-to-reval-heading p {
  padding: 12px 10px 10px 15px;
}

#page11 .clickAndReveal-container_02 #osText_click_to_reveal_typ2 {
  width: 100%;
  height: auto;
  padding: 5px;
  color: #000;
}
#page11 .clickAndReveal-container_02 .ost-text01_txt_color {
  color: #0473e9;
}
#page11 .clickAndReveal-container_02 #osText_click_to_reveal_typ2 .ost-text01 {
  font-size: 30px;
  color: #525355;
  line-height: 35px;
}
#page11 .clickAndReveal-container_02 #osText_click_to_reveal_typ2 .ost-text01 {
  font-size: 30px;
  color: #525355;
  line-height: 35px;
}
#page11 .clickAndReveal-container_02 #osText_click_to_reveal_typ2 .ost-text02 {
  font-size: 17px;
  color: #525355;
  margin-left: 90px;
  line-height: 20px;
}
#page11 .clickAndReveal-container_02 #osText_click_to_reveal_typ2 .instruction-text {
  font-size: 17px;
  color: #198800;
  line-height: 20px;
  font-weight: 600;
  margin-left: 90px;
  line-height: 20px;
}

#page11 .clickAndReveal-container_02 .figure-img01 {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

#page11 .click_to_reveal_typ2 img.svgIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

#page11 .click_to_reveal_typ2 .instruction-container2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 20px;
}

#page11 .click_to_reveal_typ2 .ctr-options {
  position: relative;
}

#page11 .click_to_reveal_typ2 .instruction_inner {
  padding: 25px;
  height: 360px;
}

#page11 .click_to_reveal_typ2 .button-custom-new {
  border-radius: 30px;
  background-color: #0090da;
  /* margin-top: 30px; */
  font-weight: bold;
  font-size: 1em !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  display: inline-block;
  padding: 0px 17px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  margin-left: -85px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

#page11 .click_to_reveal_typ2 .thumbnail-boxes-ctr .figure-ctr {
  padding: 0px 0px !important;
  margin: 15px;
  position: relative;
  background-image: none;
  height: 54px;
  width: 54px;
  border-radius: 40px;
}

#page11 .clickAndReveal-container_02 .instruction_inner p {
  color: #000000;
  /* padding-top: 80px;
    padding-left: 20px; */
}

#page11 .centered-modal.in {
  display: flex !important;
}
#page11 .centered-modal .modal-dialog {
  margin: auto;
}

#page11 .click_to_reveal_typ2 .thumbnail-boxes-ctr .figure-img {
  display: block;
  margin: 0 auto;
}

#page11 .click_to_reveal_typ2 .modal-click_to_reveal_typ2 {
  padding-right: 0px !important;
}

#page11 .click_to_reveal_typ2 .disbaled_fig {
  border: 1px solid #ff0000;
  width: 60px;
  height: 60px;
}
#page11 .click_to_reveal_typ2 .thumbnail-boxes-ctr .figure-caption {
  height: 54px;
  width: 54px;
  color: #fff;
  font-family: Arial;
  display: inline-block;
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0px;
  left: 0px;
  font-size: 25px;
  border-radius: 27px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page11 .click_to_reveal_typ2 .figure-img {
  position: absolute;
  top: 0px;
}
#page11 .click_to_reveal_typ2 .figure-img-2 {
  position: absolute;
  top: 0px;
}

#page11 .bgChange {
  background-color: #fff;
  color: #52c927 !important;
  border: 2px solid #52c927;
  transition: 0.4s all;
}

#page11 .click_to_reveal_typ2 .thumbs_inside-ctr {
  align-items: center;
  justify-content: left;
  height: 175px;
}

#page11 .modal-backdrop.show {
  display: none !important;
}

#page11 .click_to_reveal_typ2 .modal-dialog.modal-lg.in-middle {
  z-index: 99;
}

#page11 .modal-open {
  overflow: auto !important;
}

#page11 .click_to_reveal_typ2 .modal-content {
  background-color: #1aaba0 !important;
  height: 100%;
  margin-top: 15%;
}

#page11 .click_to_reveal_typ2 .btnclose {
  color: #fff;
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 2em;
}
#page11 .click_to_reveal_typ2 .modal-header {
  border-bottom: none !important;
  padding-top: 0px;
  padding-left: 1.2rem;
  padding-bottom: 0;
}

#page11 .click_to_reveal_typ2 .modal-title {
  color: #525355;
  font-family: Arial;
  font-weight: bold;
  font-size: 17px;
}
#page11 .click_to_reveal_typ2 .modal-title h1 {
  color: #525355;
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
}

#page11 .click_to_reveal_typ2 .modal-body p,.click_to_reveal_typ2 .modal-body ul li {
  color: #ffffff;
}

#page11 .click_to_reveal_typ2 #modalwrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(22,47,69,0.93);
  display: none;
}

#page11 .clickAndReveal-container_02 #modalwrapper .popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

/* #page11 .clickAndReveal-container_02 #modalwrapper .popup-header .right_logo {
  position: relative;
  top: -7px;
} */
#page11 .clickAndReveal-container_02 .popContent-inner {
  height: 90%;
  display: flex;
  padding: 1px 8px 8px 8px;
}
#page11 .clickAndReveal-container_02 .modal-header-custom {
  width: 35%;
  padding: 10px 20px 10px 10px;
}
#page11 .clickAndReveal-container_02 .modal-body-custom-left {
  width: 32%;
  padding: 10px 0px 10px 10px;
  color: #525355;
  line-height: 20px;
}
#page11 .clickAndReveal-container_02 .modal-body-custom-left ul li {
  color: #525355;
}
#page11 .click_to_reveal_typ2 #modalwrapper .modal-body-custom-right ul li {
  color: #525355;
}

#page11 .clickAndReveal-container_02 .divder-line {
  padding: 20px;
}
#page11 .clickAndReveal-container_02 .close-instrution {
  margin-bottom: 20px;
  text-align: right;
  font-size: 17px;
  color: #5ba143;
  font-weight: bold;
}
#page11 .clickAndReveal-container_02 #modalwrapper .pop-up {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
}

#page11 .click_to_reveal_typ2 #modalwrapper .popContent {
  background-color: #e6e7e9 !important;
  height: 75%;
  width: 90%;
  z-index: 10;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 20px;
}
#page11 .clickAndReveal-container_02 .pop-up-body-text {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#page11 .click_to_reveal_typ2 #modalwrapper .modal-header-custom {
  margin-bottom: 20px;
}

#page11 #contentHeadingWrapper_ctr {
  display: none;
}

#page11 .click_to_reveal_typ2 #modalwrapper .modal-body-custom-right {
  line-height: 20px;
  width: 32%;
  color: #525355;
  padding: 10px 0px 10px 10px;
}
#page11 .click_to_reveal_typ2 #modalwrapper .modal-body-custom-right ol,ul,dl {
  margin-top: 20px;
  margin-bottom: 1rem;
  color: #525355;
  padding-left: 15px;
}

#page11 .click_to_reveal_typ2 #modalwrapper .modal-body-custom-left ol,ul,dl {
  margin-top: 20px;
  margin-bottom: 1rem;
  color: #525355;
  padding-left: 15px;
}

#page11 .click_to_reveal_typ2 .instruction_content {
  height: 330px;

  padding-right: 15px;
  touch-action: pan-y;
  line-height: 1.2em;
}
