@charset "utf-8";
 #page6 .hero-section.ag_coaching {
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     height: 100%;
     overflow: hidden;
    /* overflow-y:auto;*/
}
#page6 .dropdown-design1 {
    padding: 9px 42px!important;
    font-size: 18px;
    background-color: #4599c3!important;
    border-radius: 34px!important;

    border: none;

}
#page6 cyu-submit-btn:active, cyu-submit-btn:focus{
  background-color:#0b56a8
}

#page6 #mcq3 .dropdown-design2 .dropdown-item{
    line-height: normal;
}
#page6 #mcq3 .wrapper-container-mcq {    
    min-height: 600px;
    /* background: url(../images/mcq_bg.jpg) no-repeat 100% 100%; */
    background-size: cover;
    height: 100%;
    min-height: 600px;
    background-position: center;
}

#page6 #mcq3 .wrapper-container-mcq .mainBg{	
    width: 93%;
    height: 100%;
    float: left;
    display: block;
    margin: 83px 0 0 42px;
}

#page6 #mcq3 .main_heading{
	width: 100%;
    height: 80px;
    padding: 0px 30px 10px 77px;
    line-height: 80px;
	background-color: #002142;
}
#page6 #mcq3 .case_studyMain{
    width: 68%;
    float: left;
    padding: 9px 0px;
    height: 80px;
}
#page6 #mcq3 .questionDropDown{
    width: 32%;
    float: right;
    text-align: center;
    padding: 0px 0 0 0;
}
#page6 #mcq3 .questionDropDown img{
	width:50%;
}

#page6 #mcq3 .questionDropDown .btn-primary:hover:not(.disabled){
	background: #0061A0 !important
}

#page6 #mcq3 .questionDropDown .dropdown-menu{
	background-color: #d8e4f0;
	top: 45px !important;
    transform: none !important;
    right: 0px;
    left: unset !important;
    width: 400px;
    height: 277px;
    padding: 20px 0px 20px 20px;
	overflow-y: hidden;
    border-radius: 15px !important;
}

#page6 #mcq3 .questionDropDown .dropdown-menu .dropdown-item{
	display: block;
    padding: 10px;
    font-size: 20px;
    color: #696969;
	width: calc(100% - 20px);
    border: none;
    border-bottom: 2px solid #9e9e9e;
}
#page6 #mcq3 .questionDropDown .dropdown-menu .dropdown-item:hover{
	background-color: #002142;
	color: #fff;
}

#page6 #mcq3 .questionDropDown .dropdown-menu .dropdown-item:last-child{
	border-bottom: none;
}

#page6 #mcq3 .questionDropDown .dropdown-menu .dropdown-item.enabled{
	color: #002142;
	background-color: #fff;
	box-shadow: 0 0 10px #696969;
}

#page6 #mcq3 .questionDropDown .dropdown-menu .dropdown-item.enabled:hover{
	background-color: #002142;
	color: #fff;
}

#page6 #mcq3 .questionDropDown .dropdown-menu .dropdown-item.active{
	background-color: #002142;
    color: #fff !important;
	pointer-events: none;
}

#page6 #mcq3 .case_studyMain .pdfIcon{
	width: 62px;
    height: 62px;
    display: inline-block;
}
#page6 #mcq3 .case_studyMain .pdfIcon img{
	    margin-top: -19px;
}

#page6 #mcq3 .case_studyMain p{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 0;
}
#page6 #mcq3 #qText{
    /* position:relative; */
    display: inline-block;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 1rem;
    color: #515151;
    font-size: 17px;
    font-weight: 100;
    line-height: 22px;
}
#page6 #mcq3 .sectionHeader{
    padding: 10px 10px 10px 0px;
    font-size: 20px;
    color: #0473e9;
    font-weight: bold;
}
#page6 #mcq3 .ques_text{
	display: inline-block;
    width: 85%;
	margin-top: 20px;
    /* margin-left: 45px; */
}
#page6 #mcq3 .ques_text p{    
    color: #515151;
    font-size: 17px;
    font-weight: 100;
    line-height: 20px;
}

#page6 #mcq3 .mcq_instruction{    
    color: #198800;
    font-size: 17px;
    font-weight: 100;
    line-height: 20px;
    font-weight: 600;
}
#page6 #mcq3 .question_text_color{
    color: #0473e9;
}


#page6 #mcq3 .cyu-container .cyuScroll{
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

#page6 #mcq3 .cyu-container .cyuScroll .qNo{
	position: absolute;
	font-size: 18px;
    color: #0075b0;
    font-weight: bold;
	margin-top: 20px;
}

#page6 #mcq3 .cyu-container .cyuScroll .qtext2{
	width: 100%;
    display: inline-block;
    margin: 13px 0 0 45px;

}
#page6 #mcq3 .feedbackBox{
	border-top: 2px solid #d2d2d2;
    width: 93%;
    margin: 0 auto;
    padding: 10px;
	padding-bottom: 0;
    margin-left: 30px;
    box-sizing: border-box;
}

#page6 #mcq3 .wrapper-container-mcq .nextQBtn{
	position: absolute;
    width: 180px;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
	text-align: center;
    background: #002245;
    color: #fff;
    border-radius: 25px;
    padding: 10px 0px;
    z-index: 9;
    cursor: pointer;
}

#page6 #mcq3 .wrapper-container-mcq .nextQBtn .nextQBtnIcon{
	margin-left: 10px;
}



#page6 #mcq3 .feedback_leftIcon{
	width: 70px;
    float: left;	
	margin-right: 30px;
}
#page6 #mcq3 #corIncText{
    font-size: 20px;
    margin-bottom: 5px;
    color: #0075b0;
}
#page6 #mcq3 #vid_itext{
	font-size: 16px;
    color: #009fda;
    font-style: italic;
}

#page6 #mcq3 .videoTransBlock{
	position: relative;
    left: 0px;
    width: 85%;
    display: inline-block;
    margin-top: 25px;
}
#page6 #mcq3 .videoBlock{
	width: 38%;
    float: left;
}
#page6 #mcq3 .transcriptBlock .trans p, .transcriptBlock .trans ul, .transcriptBlock .trans ol{
	color: #0075b0;
}

#page6 #mcq3 .transcriptBlock .trans ul, .transcriptBlock .trans ol{
	margin-left: 20px;
}

#page6 #mcq3 .transcriptBlock{
	width: 62%;
    float: right;
    padding: 10px;
    height: 190px;
    overflow: auto;
    /* background: #e8e8e8; */
    margin: 0;
    color: #555;
}
#page6 #mcq3 .transcriptBlock h3{
	color: #002244;
    font-size: 23px;
    font-weight: bold;
}

#page6 #mcq3 .cyu-option.disabled{
	cursor:default !important;
	pointer-events: none !important;
}

#page6 #mcq3 #qText2{
	margin-left:45px;
}

#page6 #mcq3 .mejs__overlay-error{
	display:none !important;
}

#page6 #mcq3 .logo-section{
display:none;
}
#page6 #mcq3 #contentHeadingWrapper_scenerio {
    display: none;
}


#page6 #mcq3 .cyu-options .p-3{
     padding: 0.5em !important;
}
#page6 #mcq3 .cyu-options ._item {
    display: block;
    font-family: arial, sans-serif;
    color: #525355;
    font-weight: 600;
    background: none;
    border-radius: 0px;
    font-size: 1em;
    min-height: auto;
    line-height: 20px;
    margin-bottom: 0px;
    position: relative;
    cursor: default !important;
    outline: none;
}

#page6 #mcq3 .cyu-options ._item.cyuDisabled {
    /* color: #8f8f8f;  */
    pointer-events: none;
}
#page6 #mcq3 .cyu-options ._item.cyuDisabled .circle {
    pointer-events: none;
    
    /* border:1px solid #bfbebe; */
}
#page6 #mcq3 .cyu-options ._item.cyuDisabled .option_contianer{
    pointer-events: none;
    cursor: default;
}
#page6 #mcq3 .cyu-options{
     /* margin-left:38px; */
}
#page6 #mcq3 .instruction_text{
     font-family:arial, sans-serif;
     color:#000 !important;
     font-weight:300;
     font-style: italic;
     font-size:0.8em !important;
}
#page6 #mcq3 .circle{
       border: 1px solid #000;
    padding: 4px 4px;
    width: 21px;
    border-radius: 100%;
    cursor: pointer;
    margin-bottom: 0px;
    margin-right: 1.5rem;
    position: relative;
    /* top: 4px; */
    height: 21px;
    background: #fff;
    /* top: 4px;
     */
}
#page6 #mcq3 .circle:after{
	top: 4px;
    left: 4px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #000 !important;
	content: "";
    position: absolute;
    display: none;
}
/*
 #page6 .circle_contianer{
     width:6%;
     float:left;
}
*/


#page6 #mcq3 .option_contianer .option_span{
    cursor: pointer;
    }
#page6 #mcq3 .option_contianer{
    /* width:95%;
     float:left;*/
     line-height: 1.4em;
	 width: auto;
    /* cursor: pointer; */
    margin-left: 30px
}
#page6 #mcq3 .modal-dialog {
     max-width: 422px;
}
#page6 #mcq3 .modal-cyu .modal-content{
     height:auto !important;
}

#page6 #mcq3 .cyu-options ._item:hover:not(.cyuDisabled){
     cursor: pointer;
     background: none;
}/*
 #page6 .cyu-options ._item:hover:not(.cyuDisabled) > .row > .option_contianer{
     font-weight:700;
}
*/
/*
 #page6 .cyu-options ._item:hover:not(.cyuDisabled) > .row > .circle_contianer > .circle{
     background:#0090da !important;
}

 #page6 .cyu-option.selected._item > .row > .option_contianer{
     font-weight:700;
}*/

#page6 #mcq3 .cyu-option.selected._item > .row > .circle_contianer > .circle:after{
     display:block;
}
#page6 #mcq3 .btn-primary.disabled, .btn-primary:disabled{
     font-family:arial, sans-serif;
     color:#95989A;
     font-weight:500;
     border: 1px solid #95989A !important;
     font-size:1em;
     background: #fff !important;
}
#page6 #mcq3 .btn {
     cursor: pointer;
}
#page6 #mcq3 .btn-primary {
    /* background: #00aca0 !important;
     */
     border: none !important;
     font-family:arial, sans-serif;
     color:#fff;
     font-weight:500;
     border: 1px solid #95989A;
     font-size:1em;
     background:#0061A0 !important;
}
#page6 #mcq3 .btn-primary:hover{
     color:#95989A !important;
}
#page6 #mcq3 .btn-group-lg>.btn:not(.disabled), .btn-lg:not(.disabled){
     line-height: 1.4 !important;
}
#page6 #mcq3 .btn-primary:hover:not(.disabled){
     /* background: #00988d !important; */
     color:#ffffff !important;
}
#page6 #mcq3 .btn-primary:active:not(.disabled) {
     background: #006862 !important;
}
#page6 #mcq3 .btn-primary:focus {
     box-shadow: none;
}
#page6 #mcq3 .btn-lg {
     font-size: 18px;
     border-radius: 55px !important;
     width: 150px;
     height: 42px;
     font-weight: bold;
     padding:6px !important;
}

#page6 #mcq3 .cyu-submit-btn-ag.disabled{
	background:#A7A8AA !important;
	border-color:#A7A8AA !important;
}

#page6 #mcq3 .cyu-submit-btn-ag{
	position: absolute;
    bottom: 4%;
    left: 0;
	right:0;
    margin: 0 auto;
    height: 50px;
    line-height: 48px !important;
    width: 170px !important;
    font-size: 1em !important;
    font-weight: bold !important;
    background: #0090DA !important;
    padding: 0px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23) !important;
    border-radius: 30px !important;
	border-color:#0090DA !important;
}
#page6 #mcq3 .cyu-tryagain{
	position: absolute;
    bottom: 12%;
    left:0;
	right:0;
    margin: 0 auto;
    height: 50px;
    line-height: 50px !important;
    width: 170px !important;
    font-size: 1em !important;
    font-weight: bold !important;
    background-color: #Db0A5B !important;
    padding: 0px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23) !important;
    border-radius: 30px !important;
    border: none !important;
}
#page6 #mcq3 .cyu-tryagain.cyuContinue{
	background: #0090DA !important;
	border-color:#0090DA !important;
}
#page6 #mcq3 .feedbackBox .CyufeedbackMainContainer{
	position: absolute;
    width: 97%;
    margin: 0 auto;
    top: 2%;
    left: 0;
    right: 0;
    height: 95%;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 11px #c5c5c5;
}
#page6 #mcq3 .feedbackBox .CyufeedbackContent{
	margin: 13% 0 0 0;
    padding: 0 20px 0 20px;
    display: inline-block;
}
#page6 #mcq3 .feedbackBox .CyufeedbackContent h2{
	font-weight: bold;
    margin-bottom: 15px;
}

#page6 #mcq3 .feedbackBox .modal-cyu{
     position:absolute !important;
     z-index:100000;
}
#page6 #mcq3 .feedbackBox .modal-cyu .modal-dialog{
     top:calc(50% - 130px);
    /*margin-top: -215px;
    */
}
#page6 #mcq3 .feedbackBox .modal-cyu .modal-content {
     border-radius: 0.5rem;
     height: 430px;
     border: none;
     box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}
#page6 #mcq3 .feedbackBox .modal-cyu .modal-header {
     border: none;
     background: #5f259f;
     color: #fff;
     font-size: 21px;
     border-radius: 0.3rem 0.3rem 0 0;
    /*padding: 9px 12px;
    */
     height:50px;
     line-height:50px;
     margin:0px;
     padding:0px;
     padding-left: 16px;
     padding-top: 1px;
     display:block;
}

#page6 #mcq3 .feedbackBox .modal-cyu.correct .modal-header{
	background: #A4CE4E;
}

#page6 #mcq3 .feedbackBox .modal-cyu .modal-header .modal-title {
     font-weight: normal;
     font-size:1.2rem;
     line-height:50px;
}
#page6 #mcq3 .feedbackBox .modal-cyu .modal-body {
     font-size: 21px;
     color: #454545;
     line-height: 1.4;
     font-size:1.2rem;
}
#page6 #mcq3 .feedbackBox .modal-cyu .modal-footer {
     border: none;
}
#page6 #mcq3 .feedbackBox .modal-backdrop {
     background: #fff;
}
#page6 #mcq3 .feedbackBox .modal-footer{
     justify-content: flex-start !important;
}
#page6 #mcq3 .feedbackBox .modal-open .modal{
     background-image: url(../images/w_cyu_background.jpg);
     background-repeat:repeat;
}
#page6 #mcq3 .feedbackBox .CyufeedbackContent p{
	color:#000 !important;
}
#page6 #mcq3 .width10{
     width:10%;
     float:left;
}
#page6 #mcq3 .width90{
     width:90%;
     float:left;
}

#page6 #mcq3 #contentHeadingWrapper{
     background:#004271;
     display:none;
     padding: 13px 25px;
     font-size: 0.7em;
}
#page6 #mcq3 #contentHeadingWrapper .video_heading h3.last_viewed{
     font-size:1.3em;
     font-weight:400;
     color:#74bbec;
     padding-top:9px;
     margin: 0;
     text-transform: uppercase;
}
#page6 #mcq3 #contentHeadingWrapper .video_heading h2.topic_title{
     font-size:1.8em;
     font-weight:500;
     padding-top:5px;
     color:#fff;
     margin: 0;
     text-transform: uppercase;
}

#page6 #mcq3 .list-unstyled{
     /* width:100%; */
}
#page6 #mcq3 .circle_contianer{
	position: absolute;
    top: 8px;
    left: 8px;
	width:21px;
}


#page6 #mcq3 .AllMCQQuestions{
	/* width: 100%;
    height: 455px; */
    overflow-y: auto;
    position: relative;
}

#page6 #mcq3 .MCQ_1,.MCQ_2,.MCQ_3,.MCQ_4,.MCQ_5,.MCQ_6,.MCQ_7,.MCQ_8,.MCQ_9,.MCQ_10,.MCQ_11,.MCQ_12,.MCQ_13{
	position: relative;
    top: 0px;
}

#page6 #mcq3 .MCQ_4 .table td label{
	top: 20px;
	left: 0;
    right: 0;
    margin: auto;
}

#page6 #mcq3 .MCQ_8 #cyu_block2  #opt_2{
	margin-left: 180px;
}

/* Tarun CSS */
#page6 #mcq3 .AllMCQQuestions .MCQ_4 .cyu-submit-btn{
	left: 20px;
}

#page6 #mcq3 .AllMCQQuestions .MCQ_9 .cyu-submit-btn{
	left: 8px;
}

#page6 #mcq3 .AllMCQQuestions .cyu-submit-btn{
	border-radius: 25px; 
    padding: 5px 20px;
    background: #fff;
    margin-top: 7px;
    margin-bottom: 10px;   
    border-color: #0473e9;
    color: #0473e9;
    text-align: left;
    font-weight: 600;
    /* background-image: url(../images/enableicon.png); */
    background-repeat: no-repeat;
    background-position: 98px 12px;
    width: 125px;
    outline: 0;
    box-shadow: none;
}
#page6 #mcq3 .AllMCQQuestions .cyu-submit-btn:hover
 {
	background: #0473e9;
    color:#FFF;
    /* background-image: url(../images/hovericon.png); */
    background-repeat: no-repeat;
    background-position: 98px 12px;
}

#page6 #mcq3 .AllMCQQuestions .cyu-submit-btn.disabled{
	pointer-events: none;
    background: #d3d3d3;
    border-color: #d3d3d3;
    color: #8f8f8f;
    /* background-image: url(../images/dissableicon.png); */
    background-repeat: no-repeat;
    background-position: 98px 12px;
}
#page6 #mcq3 .AllMCQQuestions .cyu-submit-btn.selected{
	pointer-events: none;
}
#page6 #mcq3 .AllMCQQuestions .cyu-options .cyu-option-mmcq.selected{
	pointer-events: none;
}



#page6 #mcq3 .AllMCQQuestions .lab_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
	    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
#page6 #mcq3 .AllMCQQuestions .lab_container input {
	position: absolute;
    opacity: 0;
    cursor: default;
    left: 0;
}

/* Create a custom checkbox */
#page6 #mcq3 .AllMCQQuestions .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
	border: 1px solid #75787B;
}

/* On mouse-over, add a grey background color */
#page6 /* .mcq-bg .container:hover input ~ .checkmark { */
    /* background-color: #ccc; */
/* } */

/* When the checkbox is checked, add a blue background */
#page6 #mcq3 .AllMCQQuestions .lab_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
#page6 #mcq3 .AllMCQQuestions .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#page6 #mcq3 .AllMCQQuestions .lab_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#page6 #mcq3 .AllMCQQuestions .lab_container .checkmark:after {
	left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#page6 #mcq3 .AllMCQQuestions .lab_container .option_contianer{
	margin-left:0;
}

#page6 #mcq3 .AllMCQQuestions .que_iText{
	color: #009fda;
	font-style: italic;
}

#page6 #mcq3 .mtf-wrapper table td{
	position: relative;
}

#page6 #mcq3 .mtf-wrapper table td ol li{
	color: #555555;
    font-size: 16px;
    line-height: 1.2;
}
    
#page6 #mcq3 .mtf-wrapper table thead{
	background: #0175b0;
	
}
#page6 #mcq3 .mtf-wrapper table thead tr th{
color:#fff !important;
}	
#page6 #mcq3 .mtf-wrapper table tbody tr{
	background: #F9F9F9;
}
#page6 #mcq3 .mtf-wrapper .table-bordered th, .mtf-wrapper .table-bordered td {
    border: 2px solid #ffffff;
	font-size: 16px;
}

#page6 #mcq3 .mtf-wrapper .table-bordered td{
	padding-bottom: 0px;
}
#page6 #mcq3 .mtf-wrapper .table-bordered td ol, .mtf-wrapper .table-bordered td ol li{
	margin-bottom: 0px;
}

#page6 #mcq3 .mtf-wrapper table p{
	color: #555;
    font-size: 16px;
    line-height: 1.5;
}

#page6 #mcq3 .mtf-wrapper .circle_contianer input:checked ~ .circle:after {
    display: block;
}

#page6 #mcq3 .container  {
  background-color: #2196F3;
}

#page6 #mcq3 .mtf-wrapper input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#page6 #mcq3 .userInputArea{
	display:none;
}
#page6 #mcq3 .AllMCQQuestions .cyu-submit-btn2{
	border-radius: 30px;
    padding: 10px 26px;
    background: #002245;
    margin-top: 7px;
	margin-bottom: 10px;
	
}
#page6 #mcq3 .AllMCQQuestions .cyu-submit-btn2.disabled{
	pointer-events: none;
	background: #b5b5b5;
}
#page6 #mcq3 .AllMCQQuestions ul li, .AllMCQQuestions ol li{
	margin-bottom: 10px;
}

#page6 #mcq3 .AllMCQQuestions ul, .AllMCQQuestions ol{
    line-height: 1.2;
    width: 60%;
}

#page6 #mcq3 .AllMCQQuestions .cyu-submit-btn2.selected{
	pointer-events: none;
}

#page6 #mcq3 .subFeedbackArea{
	display:none;
	width: 85%;
    margin-left: 111px;
    border-top: 2px solid #d2d2d2;
    padding-top: 10px;
}

#page6 #mcq3 .feedbackTextArea{
	height: 90px;
	resize: none;
}
#page6 #mcq3 textarea[disabled]{
	background-color: #fff !important;
	cursor: initial;
}



#page6 #mcq3 .mcq_attempt_three .slider-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
    margin-top: 10px;
}

#page6 #mcq3 .mcq_attempt_three .slider-container .block-control-left{
    background-image: url(../images/left_normal.png);
    background-repeat: no-repeat;
    height: 40px;
    min-width: 40px;
    background-size: 40px;
    border: none;
    cursor: pointer;
    outline: 0;
}

#page6 #mcq3 .mcq_attempt_three .slider-container .block-control-left.disabled{
    background-image: url(../images/left_disabled.png);
    background-repeat: no-repeat;
    height: 31px;
    min-width: 31px;
    background-size: 31px;
    border: none;
    pointer-events: none;
}
#page6 #mcq3 .mcq_attempt_three .slider-container .block-control-right.disabled{
    background-image: url(../images/right_disabled.png);
    background-repeat: no-repeat;
    height: 31px;
    min-width: 31px;
    background-size: 31px;
    border: none;
    pointer-events: none;
    
}

#page6 #mcq3 .mcq_attempt_three .slider-container .block-control-right{
    background-image: url(../images/right_normal.png);
    background-repeat: no-repeat;
    height: 40px;
    min-width: 40px;
    background-size: 40px;
    border: none;
    cursor: pointer;
    outline: none;
}


#page6 #mcq3 .cyu-multiple-question.active{
    display:block;
}
#page6 #mcq3 .cyu-multiple-question.inactive{
    display:none;
}

/* Tarun CSS Ends */